@import "tailwindcss";



@keyframes slideFromLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-slideFromLeft {
    animation: slideFromLeft 0.8s ease-out forwards;
}

.animate-fadeIn {
    animation: fadeIn 0.8s ease-out forwards;
}

/* Задержки */
.delay-300 { animation-delay: 700ms; }
.delay-700 { animation-delay: 700ms; }
.delay-900 { animation-delay: 900ms; }



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    button,
    a[href],
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    label[for],
    select,
    details summary,
    [role="button"],
    [tabindex="0"] {
        cursor: pointer;
    }

    /* Отключаем pointer у неактивных элементов */
    button:disabled,
    input:disabled,
    select:disabled,
    [aria-disabled="true"],
    .disabled,
    .pointer-events-none {
        cursor: not-allowed !important;
    }

    /* Для ссылок без href (иногда используются как кнопки) */
    a {
        cursor: pointer;
    }
}



